// ------------------------------------------------------------------
// Basic
// ------------------------------------------------------------------

h2 {
  margin-bottom: 34px;
  color: $grey;
  font: bold 50px/1 'Noto Sans', sans-serif;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, .5);
}

p {
  margin-bottom: 1em;
  &.note {
    color: lighten($grey, 25%);
  }
}
