// ------------------------------------------------------------------
// Blue
// ------------------------------------------------------------------

&.blue {
	background-color:#00b0f0;
	color: #fff;
	h2 {
		color: #fff;
	}

	&::after {
		visibility:hidden;
	}
}
