// ------------------------------------------------------------------
// Blue
// ------------------------------------------------------------------

&.blue {
  background-color: $blue;
  color: #fff;
  h2, a {
    color: #fff;
  }

  &::after {
    background: url(../images/ribbon-white.svg) no-repeat;
  }
}
